body {
    font-family: 'Open Sans', sans-serif;
}

.text_primary {
    color: #FD6E0A;
}

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;

}



/*========================== nav============= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav_logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
align-items: center;

}

nav li {
    list-style-type: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}