* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Open Sans', sans-serif;
}

.text_primary {
    color: #FD6E0A;
}

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
    cursor: pointer;

}



/*========================== nav============= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 200px;


}

.nav_logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style-type: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.header {
    height: 830px;
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 37.5%;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.banner_greeting {
    color: #474747;
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 600;

}

.banner_title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;

}

.banner_description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.btn_two {
    border-radius: 5px;
    background: #FFF8F3;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
    padding: 15px 35px;
    margin-left: 20px;
    cursor: pointer;
}

.banner_text {
    padding-left: 50px;
}

.banner .image {
    width: 500px;
    margin-top: 100px;

}

.dev {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: initial;
    margin-left: 30px;
}

.about {
    padding: 130px;
    background-color: #FFF8F3;
    margin: 130px 0;

}

.head {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about_p {
    color: #757575;
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;

    padding-top: 15px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about_container {
    display: flex;
    justify-content: space-around;

}

.about_info {
    text-align: center;
    padding-top: 25px;
}

.about_description {
    color: #474747;
    font-weight: 700;

}

.about_title {
    color: #757575;
    font-weight: 400;
}


#more_p {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 150px;
}
.skill_container{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 30px;

border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
    
}
.skill_title{
    padding: 15px 0;
}
.skill_description{
    color:  #757575;

font-size: 16px;



font-weight: 400;

line-height: 28px;
}
.more{
    margin-bottom: 130px;
}
.summery_container{
    display: flex;
    gap: 50px;
}
.sum_head{
    display: flex;
}
.s_t{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    padding-top: 95px;
    padding-bottom: 35px;
}
.s_my{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
}
.s_you{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    padding-top: 13px;
    padding-bottom:20px;
}
.s_they{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.summery_container hr{
    margin: 30px 0;
}
.btn_sum{
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
}
.button{
    text-align: center;
    margin-top: 40px;
}
footer{
    background-color:#FFF8F3;
}
.footer_container{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    padding: 130px 200px;
    
}
.f_p{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 183px;
}
.social{
    margin-left: 175px;
}
.footer_column{
    width: 50%;
}
.head1 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-left: 180px;
    width: 227px;
}
.head2 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-right: 800px;
    width: 305px;
}
.contact input[type="text"], input[type="email"] ,textarea{
    display: block;
    margin-bottom: 24px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 220px 18px 30px;
    border-radius: 5px;
    border: 0;
    margin-top: 25px;
}
textarea{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    font-family: Open Sans;
}
.social a{
    margin-right: 20px;
}